@import './ticket_sidebar.scss';

.spinner {
  background: transparent no-repeat center;
  display: block;
  margin: 15px auto;

  &.dotted {
    background-image: url('../images/spinner.gif');
    height: 11px;
  }
}

a {
  color: #555;
}

.search-icon {
  cursor: pointer;
  position: absolute;
  width: 37px;
  height: 37px;
  right: 0px;
  z-index: 1;
  padding: 8px;
}

.actions {
  .post-link {
    margin: 0 5px;
  }

  .link-icon {
    width: 10px;
    height: 10px;
    cursor: pointer;
  }

}



.c-txt-sm .c-txt__input {
  min-height:32px;
  padding: 8px;
}

.results-count {
  padding: 10px 0;
  font-size: 12px;
  font-style: italic;
  text-align: center;
  color: #999;
}

.results-table {
  border-collapse: collapse;

  tr {
    height: 64px;
    border-top: 1px solid #dddddd;
  }

  .date {
    font-size: 12px;
  }
}

.results-list {
  li {
    height: 50px;
    border-top: 1px solid #dddddd;
    padding: 5px 0;
  }

  .title {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .date {
    font-size: 12px;
  }
}

.results-pagination {
  margin-top: 10px;

  li {
    display: inline;
  }

  .right {
    float: right;
  }
}
